body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    position: absolute;
    margin: auto;
    
}

body .parent h1{
    border-radius: 10px;
    border: solid 2px #666666;
    background-color: aqua;   
    margin-left: 150px;
    width: 62%;
    text-align: center;

}
body .parent p{
    margin-left: 150px;
    display: flex;
    font-size: 25px;
}

body .enfant h1{
    text-align: center;
    border-radius: 10px;
    border: solid 2px #666666;
    background-color: aqua;   
    margin-left: 150px; 
    margin-right: 100px;

}

body .enfant p{
    margin-left: 150px;
    display: flex;
    font-size: 25px;
}


body .Maman h1{
    text-align: center;
    border-radius: 10px;
    border: solid 2px #666666;
    background-color: aqua;   
    margin-left: 150px; 
    margin-right: 100px;
    

}
body .Maman p{
    margin-left: 150px;
    display: flex;
    font-size: 25px;
}

body .Papa h1{
    text-align: center;
    border-radius: 10px;
    border: solid 2px #666666;
    background-color: aqua;   
    margin-left: 150px;
    margin-right: 100px;
 
}

body .Papa p{
    margin-left: 150px;
    display: flex;
    font-size: 25px;
}
#photo{
    float: right;
    margin-right: 100px;
    margin: 80px;   
}
.ROYAUTE{
    float: right;
    font-size: 25px;
%


}

@media only screen and (max-width:680px){
    body{
        background-color: lightblue;
    }
}   